---
import { LANGS, t, type MessageKey } from "../lib/i18n";
interface Props {
  k: MessageKey;
}
const { k } = Astro.props;
---
{LANGS.map((lang) => <span class={`lang lang-${lang}`}>{t(lang, k)}</span>)}
